.bg-dark, .navbar.navbar-inverse { background-color: #236478 !important;}

.bslib-sidebar-layout>.main {
  padding: 0rem !important;
}

a {
  text-decoration: none;
}

.bslib-sidebar-layout>.sidebar {
  background-color: white !important;
}

.bslib-sidebar-layout>.collapse-toggle {
  background-color: white !important;
}

.leaflet-popup-content-wrapper {
  /* background: #DB0925; */
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 15px;
  }

.leaflet-control{
  font-family: 'Raleway';
}

.leaflet .legend {
  font-family: "Source Code Pro";
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.info.legend.leaflet-control > div > strong {
  font-family: 'Raleway';
}

/* remover borde redondeado */
.card, .well {
  /* border-radius: .375rem; */
  border-width: 0;
}

/*
pal    <- c('#730000','#E60000','#FFAA00','#FFD37F','#FFFF00','#FFFFFF','#8CCDEF','#00BFFF','#1D90FF','#4169E1','#0000FF')
seq    <- 1:length(pal)
txtcol <- ifelse(between(seq, 3, 8), "#000", "#fff")
str_glue(".badge-pal{seq} {{color: {txtcol} !important; background-color: {pal};}}")
*/

